
<div class="navbar-fixed center-align"> 
	<img class="brand-logo responsive-img" src="../img/uno.jpg"/>
</div>
<!-- <div class="main-container"> -->
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
  <main>	
    <center>
    	<div class="container">
    		<form id="edit-course-form" ng-submit="submit()"> 
    		<div class="card white row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
 				<div class="row">
 					<div class="col s12 m12 l12">
 						<h4>Add Course</h4>
 						<div class="section"></div>
 					</div>

	    			
	    				<div class="input-field col s12 m12 l12">
	        			
		  					<input type="text" textid="course_name" ng-model="course.name" class="validate" required="" aria-required="true">
		  					<label for="course_name" class="active">Course Name</label>
			        </div>
        		</div>

					<div class="row">
	    			<div class="input-field col s12 m12 l12">
		  					<input type="text" textid="course_id" ng-model="course.id" class="validate" required="" aria-required="true">
		  					<label for="course_id" class="active">Course ID</label> 
			        </div>
			        </div>
			       <div class="section"></div>

   				<center>
 					<div class='row'>
               			<button class="col s12 btn-large waves-effect">Add</button>
              		</div>
  				</center> 
      
         		
   			</div>
   		</form>
               
      </div>

   </center>
  </main>
<!-- </div> -->